<div class="app">
  {{top-nav}}

  <div class="main">
    {{outlet}}

    {{#game-hand game="sushi" as |currentGame|}}
      {{game-card game=currentGame cardNumber=43}}
      {{game-card game=currentGame cardNumber=2}}
    {{/game-hand}}
  </div>

  <footer class="footer">
    <ul class="footer-left">
      <li>Copyright &copy; 2016</li>
    </ul>
  </footer>
</div>
