<div class="app">
  {{top-nav}}

  <div class="main">
    {{outlet}}

    <div class="cards">
      {{game-card game="sushi" cardNumber=43}}
      {{game-card game="dominion" cardNumber=2}}
    </div>
  </div>

  <footer class="footer">
    <ul class="footer-left">
      <li>Copyright &copy; 2016</li>
    </ul>
  </footer>
</div>
