<div class="app">
  {{top-nav}}

  <div class="main">
    {{outlet}}

    <div class="cards">
      {{game-card game="sushi"}}
      {{game-card game="dominion"}}
    </div>
  </div>

  <footer class="footer">
    <ul class="footer-left">
      <li>Copyright &copy; 2016</li>
    </ul>
  </footer>
</div>
