<nav class="top-nav">
  <ul class="nav-left">
    <li class="nav-left__item">
      {{#link-to "index"}}Cards Games{{/link-to}}
    </li>
  </ul>

  <ul class="nav-right">
    <li class="nav-right__item">
      {{#link-to "index"}}Sushi Go{{/link-to}}
      {{#link-to "index"}}Dominion{{/link-to}}
    </li>
  </ul>
</nav>
